{# src/Bplaetevoet/HomeBundle/Resources/views/cv.html.twig #}
{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <section class="intro">
            <h1>Over mij</h1>
            <p>
                <em>
                    blablabla....
                    
                </em>
            </p>
        </section>
    </div>
    <div class="middle">
        <div id="mijncv" class="container">
            <div class="container">
                <h1 class="text-center">Curriculum vitae</h1>
            <div class="row cv-row">
                <span class="col-xs-4"><h2>Profiel</h2></span>
                <span class="col-xs-8">
                    Flexibele persoonlijkheid, steeds bereid tot bijleren.</br>
                    Sociaal vaardig en commercieel inzicht.<br />
                    Zelfstandig en resultaatgericht.<br />
                </span>
            </div>
            <div class="row cv-row">
                <span class="col-xs-4"><h2>Skills</h2></span>
                <span class="col-xs-8">
                    <span class="col-xs-4">
                        HTML5 & CSS3<br />
                        Less<br />
                        Bootstrap<br />
                    </span>
                    <span class="col-xs-4">
                        OOP<br />
                        PHP<br />
                        SQL<br />
                        Symfony<br />
                        
                    </span>
                    <span class="col-xs-4">
                        Doctrine<br />
                        Git<br />
                        Twig<br />
                        Composer<br />
                    </span>
                        <span class="col-xs-12" >Todo : Javascript/Jquery , Drupal , ....</span>
                </span>
            </div>
                <div class="row cv-row">
                    <span class="col-xs-4"><h2>Studies</h2></span>
                    <span class="col-xs-8">
                        <div class="row">
                            <span class="pull-right cv-dates">2014 - ...</span>
                        <span class="col-xs-7">
                            
                            <p class="kop"><strong>PHP Ontwikkelaar</strong></p>
                            <p class="text-muted"><em>VDAB Competentiecentrum Wevelgem</em></p>
                        </span>
                            
                        </div>
                        <div class="row">
                            <span class="pull-right cv-dates">1991 - 1997</span>
                            <span class="col-xs-7">
                                <p class="kop"><strong>TSO</strong></p>
                                <p class="text-muted"><em>VTI Ieper<br />A2 behaald</em></p>
                            </span>
                            
                        </div>
                            </span>
                </div>
                <div class="row cv-row">
                    <span class="col-xs-4"><h2>Ervaring</h2></span>
                    <span class="col-xs-8">
                        <div class="row cv-row">
                            <span class="pull-right cv-dates">2010 - 2014</span>
                            <p class="kop"><strong>Technisch commercieel afgevaardigde regio W-Vlaanderen</strong></p>
                            <em><strong>Brumatex NV. Brasschaat</strong></em><br />
                            Autonoom werken, klant en resultaatgerichtheid, sociaal vaardig, sales B2B &amp; B2C,
                            kunnen omgaan met vooropgestelde deadlines en doelstellingen.
                        </div>
                        <div class="row cv-row">
                            <span class="pull-right cv-dates">1999 - 2010</span>
                            <em><strong>
                                Yprado N.V. Ieper<br />
                                Houthandel Terryn Moorslede<br />
                                Jules Destrooper Ieper<br />
                                </strong></em>
                            
                        </div>
                    </span>
                </div>
                <div class="row cv-row">
                    <span class="col-xs-4"><h2>Extra</h2></span>
                    <span class="col-xs-8">
                        Beschikt over eigen wagen en rijbewijs B<br />
                        Komt in aanmerking voor <a href="http://vdab.be/stage">een stage</a> of <a href="http://vdab.be/ibo">IBO</a> overeenkomst.<br />
                        
                        
                    </span>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}