{# src/Bplaetevoet/HomeBundle/Resources/views/Home/index.html.twig #}

{% extends '::base.html.twig' %}

{% block content %}
    <h1> Hello Bart Plaetevoet</h1>
    
    {% for project in projects %}
    {{ project.naam }}<br />
    {{ project.omschrijving }}
    {% endfor %}
{% endblock %}
