/*
    BPlaetevoet main CSS file

    Created on : 4-jul-2014, 18:37:45
    Author     : Bart Plaetevoet
*/

/*********************************************************************************/
/* Algemeen                                                                        */
/*********************************************************************************/
body{
    background-color:#ccc222;
}
header, footer{
   background-color: #282828;
}
footer{
    margin-top: 50px;
    color: #ccc;
    padding-bottom:25px;
}
footer h3 {
    font-weight: 600;
    color:#ccc222;
    text-transform: uppercase;
}
footer ul{
    margin:0px;
    padding:0px;
}
footer li{
    list-style-type:none;
    line-height:20px;
}
footer li > a{
    color:inherit;
    text-decoration:none;
    
    transition: color 0.5s ease 0.2s;
}
footer li >a:hover{
    text-decoration:none;
    color: #ccc222;
}
.wrapper-style1{
    background-color:#282828;
    color:white;
}
#top-navigatie{
    background-color: #282828;
    text-align:center;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index:1000;
    cursor:default;
}
#top-navigatie ul {
    margin-bottom:0px;
}
#top-navigatie li {
    display: inline-block;
    transition: background-color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s;
}
#top-navigatie a {
    padding: 0.2em 1em;
    margin: 0.6em 0.2em;
    font-weight:600;
    border-radius:8px;
    
    color: #fff;
    position: relative;
    display: block;
    text-decoration: none;
    outline: 0px none;
}
#top-navigatie li:hover{
    background-color: #afa61d;
    
}
.intro, .quote{
    padding-top:120px;
}
.projects, .middle{
    margin-top: 60px;
    background-color:#f4f4f4;
    height:100%;
    width:100%;
    padding : 0.4em;
    box-shadow:6px 0px 6px 0px rgba(0,0,0,0.75);
    overflow: auto;
 }
 .new-project:nth-child(odd) a img{
     float:right;
 }
 .new-project:nth-child(odd) {
     border-left: 1px solid #c0c0c0;
     border-right:none;
         
 }
 
.new-project{
    transition: all 0.5s ease 0.2s;
    background-color: #f4f4f4;
    position: relative;
    float: left;
    width: 50%;
    overflow:auto;
    border-right: 1px solid #c0c0c0;
    font-family: 'Questrial', sans-serif;
}


.new-project a{
    text-decoration:none;
}
.img-project{
    width:70%;
    margin:10px 15%;
    border: 6px solid #ccc222;
    border-radius:12px;
}
.new-project a h3{
    text-transform: uppercase;
    font-size: 16px;
    margin: 5px;
    padding-bottom: 10px;
    font-weight:400;
}
.new-project .site-info{
    display: block;
    color:#808080;
    font-size:14px;
    line-height:20px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:25px;
}
.project-skill{
    background-color: #ccc222;
    padding:6px 8px;
    border: 1px solid ;
    border-radius:4px;
}
.new-project:hover h3{
    font-weight:600;
    color:green;
}
.blocks {
	width: 22%;
	height:250px;
	display:block;
	float:left;
        border-radius: 5px;
        border: 2px solid #a0981b;
	background-color: #fff;
	margin:10px;
}
.blocks h3{
    font-weight:600;
    text-align: center;
    color: #ccc222;
    border-bottom: 1px solid #ccc222;
    padding-bottom:7px;
}
.blocks ul {
	margin:5px;
	padding:0px;
}
.blocks li {
	list-style-type: none;
	line-height: 20px;
        padding:7px 0px;
}
.img-admin-thumb{
    width:200px;
    height:200px;
    float: right;
}
aside h2, aside h3{
    text-transform: uppercase;
    font-weight:600;
    color: #585858;
}
aside h3{
    border-bottom: 1px solid #a0981b;
    padding-bottom: 10px;

}
aside ul {
    list-style-type:none;
    margin:0px;
    padding: 0px;
    border-bottom: 1px solid #a0918b;
    padding-bottom: 20px;
    padding-top: 10px;
}
aside li {
    line-height: 20px;
    
}
aside li a {
    text-decoration:none;
    transition:all 0.5s ease 0.2s;
    display:block;
    color:inherit;
    text-transform:uppercase;
}
aside li a:hover{
    text-decoration:none;
    color: #08C;
    font-weight:600;
        
}
.cv-titel {
    font-size:30px;
    margin-top:20px;
    margin-bottom:10px;
    font-family:inherit;
    font-weight:500;
    line-height: 1.1;
    color:inherit;
}
.cv-row{
	border-bottom: 1px solid #c0c0c0;
	line-height:24px;
	padding:10px;
}
.cv-row:nth-last-child(1){ border-bottom:none;}
#mijn-cv, .intro{
    font-family: 'Questrial', sans-serif;
    font-weigth:600;
}
.kop{ font-size:1.5em;}
.cv-dates{ font-weight:600;}
span.btn > a { 
    text-decoration: none;
    color:inherit;
}
span.btn > a:hover{
    text-decoration:none;
    
}
/*********************************************************************************/
/* Forms                                                                         */
/*********************************************************************************/
form label {
	color: #585858;
	padding-right:5px;
	
}
form input, textarea {
    color:#585858;
    background-color: #eee;
    padding:4px;
    width:400px;
    display: block;
    border-radius:4px;
}
.loginform{
    margin-top : 50px;
    padding-top: 50px;
    padding-bottom:50px;
    background-color: rgba(255,255,255,0.5);
    border-radius : 4px;
    border: 1px solid brown;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
#project_skills label{
    display:initial;
    text-indent: 25px;
    padding-left:1px;
    padding-right:20px;
}
input[type="checkbox"] {
    display:inline-block;
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    overflow: hidden;
}
/*********************************************************************************/
/* Coding-sprite                                                                 */
/*********************************************************************************/
.coding-sprite { 
    background: url('../images/coding-sprite.png') no-repeat top left; 
    background-size: 163.5px 2011px;
    width: 163.5px; 
    height: 167.6px;
    float: left;
    margin-right:0.2em;
} 
.coding-sprite.bootstrap { background-position: 0px 0px; transition: all 1s ease-in-out 0.2s; } 
.coding-sprite.bootstrap:hover { background-position: 0px -167.6px;  } 
.coding-sprite.css { background-position: 0px -335.2px; transition: all 1s ease-in-out 0.2s; } 
.coding-sprite.css:hover { background-position: 0px -502.8px;  } 
.coding-sprite.doctrine { background-position: 0px -670.4px; transition: all 1s ease-in-out 0.2s; } 
.coding-sprite.doctrine:hover { background-position: 0px -838px;  } 
.coding-sprite.html5{ background-position: 0px -1005.6px; transition: all 1s ease-in-out 0.2s; } 
.coding-sprite.html5:hover { background-position: 0px -1173.2px;  } 
.coding-sprite.sf { background-position: 0px -1340.8px; transition: all 1s ease-in-out 0.2s; } 
.coding-sprite.sf:hover { background-position: 0px -1508.4px;  } 
.coding-sprite.php { background-position: 0px -1676px; transition: all 1s ease-in-out 0.2s; } 
.coding-sprite.php:hover { background-position: 0px -1843.6px;  } 