{# /src/Bplaetevoet/HomeBundle/Resources/views/Home/adminafbeeldingsform.html.twig #}
{% extends '::base.html.twig' %}

{% block content %}
    <div class="intro">
        <div class="container">
            {% if afbeelding is defined %}
                <img src="{{ asset('uploads/afbeeldingen/') }}{{afbeelding.path}}" />
                <br />
            {% endif %}
            {{form(form)}}
        </div>
    </div>
{% endblock %}
