{# src/Bplaetevoet/HomeBundle/Resources/views/Home/addproject.html.twig #}

{% extends 'BplaetevoetHomeBundle:Admin:adminbase.html.twig' %}

{% block content %}
    <div class="container">
        <div class="intro">
        <h2>Lijst van skills</h2>
        <ul>
            {% for skill in skills %}
                <li>{{skill.naam}} - <a href="{{ path ('bplaetevoet_admin_editskill', {skillnaam:skill.naam}) }}">bewerken</a>
                    - <a href="{{ path ('bplaetevoet_admin_removeskill', {skillid:skill.id}) }}">verwijderen</a>
                </li>
            {% endfor %}
        
        </div>
    </div>
    <section class="middle">
        <div class="container">
            {{ form(form) }}
        </div>

    </section>
    {% endblock %}