{# src/Bplaetevoet/HomeBundle/Resources/views/Admin/index.html.twig #}
{% extends 'BplaetevoetHomeBundle:Admin:adminbase.html.twig' %}
{% block content %}
    <h3> Welkom Bart</h3>
    Maak uw keuze :
    <ul>
        <li>Skills bijwerken</li>
        <li>Project toevoegen</li>
        <li>Project wijzigen</li>
        <li>Afbeeldingen</li>
    </ul>
{% endblock %}